body {
  font-family: "Archivo", Helvetica, Arial, sans-serif;
}

.bg-dark {
  color: $light;

  .btn.btn-link {
    color: $yellow;

    &:hover {
      color: $orange;
    }
  }

  h3, .h3 {
    color: $white !important;
  }
}

.bg-medium {
    color: $white !important;
}

.bg-light {
    color: $dark !important;
}

*, * ::before, * ::after {
  box-sizing: border-box
}


h1, .h1 {
  font-stretch: 70%;
}

h2, .h2 {
  font-stretch: 70%;
}

h3, .h3 {
  font-stretch: 50%;
  color: $access-dark !important;
}

h4, .h4 {
  font-weight: 800;
}

.btn {
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  user-select: auto;

  &.btn-medium {
    color: $white;
  }

  &.btn-link {
    margin: 0px;
    padding: 0px;
    width: initial;
    text-align: left;
    font-size: inherit;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    border: none;
    background-color: transparent;
    word-break: break-word;
    user-select: auto;

    &:hover {
      text-decoration: underline;
      font-weight: bold;
      background-color: transparent;
      border: none;
      color: $access-medium !important;
    }

    &.text-decoration-none:hover {
      text-decoration: underline !important;
    }
  }
}

a.badge {
  text-decoration: none;
}

.pre-wrap-text {
  white-space: pre-wrap;
}

.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}

.border-style-dashed {
  border-style: dashed !important;
}

.width-fit-content {
  width: fit-content;
}