
* {
  --teal-400: #48c0b9;
  --teal-600: #008597;
  --teal-700: #1a5b6e;
  //--font-family: "Archivo", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Archivo", Helvetica, Arial, sans-serif;
}

.text-dark, .btn.btn-link.text-dark {
  @extend .text-dark
}

.text-light, .btn.btn-link.text-light {
  @extend .text-light
}

.text-medium, .btn.btn-link.text-medium {
  color: $access-medium !important;
}

.text-orange, .btn.btn-link.text-orange {
  color: $access-orange !important;
}

.bg-orange {
  background-color: $access-orange !important;
}

.text-yellow, .btn.btn-link.text-yellow {
  color: $access-yellow !important;
}

.bg-yellow {
  background-color: $access-yellow !important;
}


.bg-gray-100 {
  background-color: $gray-100 !important;
}

.text-gray-100 {
  color: $gray-100 !important;
}

.text-gray-200 {
  color: $gray-200 !important;
}

.bg-gray-200 {
  background-color: $gray-200 !important;
}

.border-gray-200 {
  border-color: $gray-200 !important;
}

//.bg-gray-100, .bg-gray-200, .bg-secondary, .bg-secondary-subtle {
//  // @extend .text-dark;
//
//  .btn.btn-link {
//    @extend .text-secondary;
//
//    &:hover {
//      @extend .text-medium;
//    }
//  }
//}

.bg-dark {
  background-color: $access-dark !important;

  @extend .text-light;

  .btn.btn-link {
    @extend .text-yellow;

    &:hover {
      @extend .text-orange;
    }
  }

  h3, .h3 {
    color: $access-teal !important;
  }
}

.bg-medium {
  background-color: $access-medium !important;
}

.bg-light {
  background-color: $access-light !important;

  @extend .text-dark;
}


*, * ::before, * ::after {
  box-sizing: border-box
}

/*
*, :after, :before {
    box-sizing:inherit
}
*/

.navbar {
  --bs-navbar-padding-y: 0;
}

/*
    margin: 0 auto;
    */
.region-nav-access-main {
  flex-direction: row;
  text-align: left;

  ul {
    height: 48px;
  }
}

.region-nav-access-additional {
  flex-direction: row;
  text-align: right
}

footer .social-link {
  text-decoration: none;
  transition: transform .1s ease;
  height: fit-content;
  margin: 0.75rem
}

footer .social-link svg {
  fill: #13294b !important;
  height: 55px;
  width: auto
}

footer .social-link img {
  height: 45px;
  width: 45px;
}

footer .social-link:hover {
  text-decoration: none;
}

footer .social-link img:hover {
  transform: scale(1.1)
}

footer {

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    a.btn.btn-link {
      text-decoration: none;
      font-size: 18px;
      font-weight: 800;
      line-height: 24px;
    }

    small {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  a.btn.btn-link {
    color: $access-medium;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-policies a.btn.btn-link {
    font-size: 12px;
    font-weight: 600;
  }

  a.btn.btn-link.read-more {
    color: $access-medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
}


h1, .h1 {
  font-stretch: 70%;
}

h2, .h2 {
  font-stretch: 70%;
}

h3, .h3 {
  font-stretch: 50%;
  color: $access-medium !important;
}

h4, .h4 {
  font-weight: 800;
}

.btn {
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  user-select: auto;

  &.btn-medium {
    color: $white;
  }

  &.btn-link {
    margin: 0px;
    padding: 0px;
    width: initial;
    text-align: left;
    font-size: inherit;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    border: none;
    background-color: transparent;
    word-break: break-word;
    user-select: auto;

    &:hover {
      text-decoration: underline;
      font-weight: bold;
      background-color: transparent;
      border: none;
      color: $access-medium !important;
    }

    &.text-decoration-none:hover {
      text-decoration: underline !important;
    }
  }
}

a.badge {
  text-decoration: none;
}

.pre-wrap-text {
  white-space: pre-wrap;
}

.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}

.border-style-dashed{
  border-style: dashed !important;
}