body {
  margin: 0px;
  font-family: "Archivo", Helvetica, Arial, sans-serif;
}

.infrastructure-type-card {
  border: 1px solid #f2efef;
  margin-bottom: 20px;
}

.organization-card {
  border: 1px solid rgba(49, 148, 164, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: block;

  .btn.btn-link,
  .btn.btn-link:hover {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

.resource-card {
  border: 1px solid rgba(49, 148, 164, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;

  .resource-card-header {
    text-overflow: ellipsis;

    .resource-card-header-actions {
      height: 25px;
    }

    h3 {
      padding: 10px 15px 35px 15px;
    }
  }

  .resource-card-sub-header {
    position: relative;

    .resource-card-header-thumbnail {
      position: absolute;
      top: -40px;
      right: 18px;
    }
  }

  .resource-card-body {
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 66px;
    }
  }
}

.badge-card-row {
  .badge-card-row-header {
    h4 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 66px;
    }
  }

  .badge-card-row-description {
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 66px;
    }
  }
}

.badge-card {
  border: 1px solid rgba(49, 148, 164, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .badge-card-header {
    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 20px;
      text-align: center;
    }

    .badge-card-header-thumbnail {
    }
  }

  .badge-card-body {
    padding: 10px;

    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 60px;
    }
  }
}

.border-left-wide {
  border-left-width: 30px !important;
}

.background-image-center-no-repeat {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &.grayscale {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

  &.bluescale {
    -webkit-filter: sepia(100%) hue-rotate(151deg) saturate(500%);
    filter: sepia(100%) hue-rotate(151deg) saturate(500%);
  }

  &.resource-icon-circle-small {
    min-height: 80px;
    min-width: 80px;
    border: 3px solid #FFA500;
    border-radius: 50%;
  }

  &.badge-icon-border {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.badge-icon-small {
    min-height: 30px;
    min-width: 30px;
  }
}

.roadmap-card {
  padding-top: 100px;

  .roadmap-card-icon-row {
    top: -50px;

    .roadmap-card-icon {
      min-height: 100px;
      min-width: 100px;
    }
  }
}

.staff-roadmap-card {
  .roadmap-card-icon-row {
    top: -20px;

    .roadmap-card-icon {
      min-height: 50px;
      min-width: 50px;
    }
  }
}

.search-input {
  .input-group-text {
    background: transparent;
  }

  input.form-control {
    border-left: none;
  }
}


.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
  color: red;
  border-bottom-color: red;
}


.modal-body {
  padding-top: 90px !important;
  padding-bottom: 70px !important;
  text-align: center;
  font-size: 20px;
}

.modal-title {
  position: relative;
  width: 100%;

  .bi {
    position: absolute;
    top: -8px;
    font-size: 100px;
    left: 40%;
  }
}

.text-three-line-overflow-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.text-one-line-overflow-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.word-break-break-all {
  word-break: break-all;
}

.box-shadow-0-4-4-0 {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}